{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Team AE</title>
<!-- Stylesheets -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/style.css" %}" rel="stylesheet">
<link href="{% static "css/responsive.css" %}" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



<!-- <link rel="shortcut icon" href="" type="image/x-icon">
<link rel="icon" href="" type="image/x-icon"> -->

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>
    {% include "web/partials/header.html" %}
    {% block content %}

    {% endblock %}
    {% include "web/partials/footer.html" %}


<!-- Plugins -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static "js/jquery.js" %}"></script> 
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery.fancybox.js" %}"></script>
<script src="{% static "js/wow.js" %}"></script>
<script src="{% static "js/jquery-ui.js" %}"></script>
<script src="{% static "js/appear.js" %}"></script>
<script src="{% static "js/knob.js" %}"></script>
<script src="{% static "js/gsap.min.js" %}"></script>
<script src="{% static "js/ScrollTrigger.min.js" %}"></script>
<script src="{% static "js/SplitText.min.js" %}"></script>
<script src="{% static "js/splitType.js" %}"></script>
<script src="{% static "js/select2.min.js" %}"></script>
<script src="{% static "js/owl.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
<!-- form submit -->
<script src="{% static "js/jquery.validate.min.js" %}"></script>
<script src="{% static "js/jquery.form.min.js" %}"></script>
<script>
	(function($) {
		$("#contact_form").validate({
			submitHandler: function(form) {
				var form_btn = $(form).find('button[type="submit"]');
				var form_result_div = '#form-result';
				$(form_result_div).remove();
				form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
				var form_btn_old_msg = form_btn.html();
				form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
				$(form).ajaxSubmit({
					dataType:  'json',
					success: function(data) {
						if( data.status == 'true' ) {
							$(form).find('.form-control').val('');
						}
						form_btn.prop('disabled', false).html(form_btn_old_msg);
						$(form_result_div).html(data.message).fadeIn('slow');
						setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
					}
				});
			}
		});
	})(jQuery);
</script>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		var swiper = new Swiper('.feature-slider', {
			slidesPerView: 1, // Adjust as needed, e.g., 1 for mobile, 3 for desktop
			spaceBetween: 30,
			loop: true,
			autoplay: {
				delay: 1500, // 1.5 seconds
				disableOnInteraction: false, // Continue autoplay after user interactions
			},
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
			breakpoints: {
				576: {
					slidesPerView: 1,
				},
				768: {
					slidesPerView: 2,
				},
				992: {
					slidesPerView: 3,
				}
			}
		});
	});
</script>


</body>


</html>