
{% extends "web/base.html" %}
{% load static %}
{% block content %}
	<!-- Start main-content -->
	<section class="page-title" style="background-image: url('{% static "images/background/page-title.jpg" %}');">
		<div class="auto-container">
			<div class="title-outer text-center">
				<h1 class="title">Blog Details</h1>
				<ul class="page-breadcrumb">
					<li><a href="{% url "index" %}">Home</a></li>
					<li>Blog Details</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->

    <!--Blog Details Start-->
    <section class="blog-details">
        <div class="container pb-100">
            <div class="row">
				
                <div class="col-xl-8 col-lg-7">
                    <div class="blog-details__left">
                        <div class="blog-details__img">
                            <img src="{{blog.image.url}}" alt="">
                            <div class="blog-details__date">
                                <span class="day">{{blog.date}}</span>
                                
                            </div>
                        </div>
                        <div class="blog-details__content">
                            <ul class="list-unstyled blog-details__meta">
                                <li><a href=""><i class="fas fa-user-circle"></i> Admin</a> </li>
                                <li><a href=""><i class="fas fa-comments"></i> 02
                                        Comments</a>
                                </li>
                            </ul>
                            <h3 class="blog-details__title">{{blog.title}}</h3>
                            <p class="blog-details__text-2">{{blog.content}}
                            </p>
                            
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="sidebar">
                        
                        <div class="sidebar__single sidebar__post">
                            <h3 class="sidebar__title">Latest Posts</h3>
                            <ul class="sidebar__post-list list-unstyled">
                                <li>
                                    
                                    <div class="sidebar__post-content">
                                        <h3> <span class="sidebar__post-content-meta"><i class="fas fa-user-circle"></i>Admin</span> <a href="">{{blog.title}}</a>
                                        </h3>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="sidebar__single sidebar__category">
                            <h3 class="sidebar__title">Categories</h3>
                            <ul class="sidebar__category-list list-unstyled">
                                <li><a href="{% url "service" %}">Incorporationt<span class="icon-right-arrow"></span></a> </li>
                                <li class="active"><a href="{% url "service" %}">Audits<span class="icon-right-arrow"></span></a></li>
                                <li><a href="{% url "service" %}">TradeMark (Reg)<span class="icon-right-arrow"></span></a> </li>
                                <li><a href="{% url "service" %}">Consulting<span class="icon-right-arrow"></span></a> </li>
                                <li><a href="{% url "service" %}">Tax-compliance<span class="icon-right-arrow"></span></a> </li>
                                <li><a href="{% url "service" %}">Winding Up<span class="icon-right-arrow"></span></a> </li>
                            </ul>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog Details End-->

    {% endblock %}