


{% extends "web/base.html" %}
{% load static %}
{% block content %}

	<!-- Banner Section -->
	<section class="banner-section home2-style">
		<div class="banner-two-carousel owl-carousel owl-theme default-navs">
			<!-- Slide Item -->
			<div class="slide-item">
				<div class="bg-image" style="background-image: url('{% static "images/main-slider/1.jpg" %}');"></div>
				<div class="container-fluid ml-100 ml-lg--0">
					<div class="content-box">
						<h1 class="title animate-1">Welcome to Team AE
							
							 <br class="d-none d-lg-block" />Your Trusted Partner  <br class="d-none d-lg-block" /> in Business Excellence</h1>
						<div class="text animate-2">At Team AE, we empower businesses to thrive in a competitive landscape. Our tailored consultancy services are designed to address your unique challenges and unlock new opportunities for growth</div>
						<div class="btn-box animate-3">
							<a href="{% url "contact" %}" class="theme-btn btn-style-one hover-light"><span class="btn-title">Get In Touch</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Section -->

	<!-- About Section Two -->
	<section class="about-section-two">
		<div class="bg bg-image" style="background-image: url('{% static "images/background/about-bg2-1.png" %}')"></div>
		<div class="auto-container">
			<div class="row">
				<div class="content-column col-lg-7 wow fadeInRight" data-wow-delay="300ms">
					<div class="inner-column">
						<div class="sec-title">
							<span class="sub-title">About Us</span>
							<h2 class="text-split">At Team AE,<br />we empower businesses</h2>
						</div>
	
						<!-- Mission, Vision, Values Section -->
						<div class="mission-vision-values">
							<!-- Our Mission -->
							<div class="section-box">
								<h3>Our Mission</h3>
								<ul class="list-style-three">
									<li>To provide innovative.</li>
									<li> actionable solutions that drive business success.</li>
								</ul>
							</div>
	
							<!-- Our Vision -->
							<div class="section-box">
								<h3>Our Vision</h3>
								<ul class="list-style-three">
									<li>To be a leading consultancy recognized for our commitment to excellence.</li>
									<li>integrity, and impactful results.</li>
								</ul>
							</div>
	
							<!-- Our Values -->
							<div class="section-box">
								<h3>Our Values</h3>
								<ul class="list-style-three">
									<li>Integrity: We uphold the highest standards of honesty and transparency.</li>
									<li>Collaboration: Partnering with you to achieve common goals.</li>
									<li>Excellence: Striving for the highest quality in every project.</li>
								</ul>
							</div>
						</div>
	
						
					</div>
				</div>
	
				<!-- Image Column -->
				<div class="image-column col-lg-5">
					<div class="inner-column wow fadeInLeft">
						<figure class="image-1 overlay-anim wow fadeInUp"><img src="{% static "images/resource/about2-1.jpg"  %}" alt=""></figure>
						<figure class="image-2 overlay-anim wow fadeInRight"><img src="{% static "images/resource/about2-2.jpg"  %}" alt=""></figure>
						<figure class="image-3 bounce-y wow fadeInRight"><img src="{% static "images/icons/dots2-1.png" %}" alt=""></figure>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!--Emd About Section Two -->

	<!-- Features Section -->
	<section class="features-section pt-0">
		<div class="auto-container">
			<div class="sec-title text-center">
				<span class="sub-title">Our Services</span>
				<h2 class="text-split">Comprehensive Consultancy<br />Services</h2>
			</div>
			<div class="swiper-container feature-slider">
				<div class="swiper-wrapper">
					<!-- Feature Block -->
					<div class="swiper-slide feature-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image-box">
								<figure class="image"><a href="page-service-details.html"><img src="{% static "images/resource/feature-1.jpg"  %}" alt=""></a></figure>
								<i class="icon flaticon-instructor"></i>
							</div>
							<div class="content-box">
								<h5 class="title"><a href="page-service-details.html">Incorporation</a></h5>
								<a href="{% url "service_detail" %}" class="read-more"><i class="lnr-icon-arrow-right"></i></a>
							</div>
						</div>
					</div>
			
					<!-- Feature Block -->
					<div class="swiper-slide feature-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image-box">
								<figure class="image"><a href="page-service-details.html"><img src="{% static "images/resource/feature-2.jpg"  %}" alt=""></a></figure>
								<i class="icon"><img src="{% static "images/financial-advisor.png" %}" alt="" srcset=""></i>
							</div>
							<div class="content-box">
								<h5 class="title"><a href="page-service-details.html">Audits</a></h5>
								<a href="{% url "service_detail2" %}" class="read-more"><i class="lnr-icon-arrow-right"></i></a>
							</div>
						</div>
					</div>
			
					<!-- Feature Block -->
					<div class="swiper-slide feature-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image-box">
								<figure class="image"><a href="page-service-details.html"><img src="{% static "images/resource/feature-3.jpg"  %}" alt=""></a></figure>
								<i class="icon flaticon-satisfaction"></i>
							</div>
							<div class="content-box">
								<h5 class="title"><a href="page-service-details.html">TradeMark (Reg) </a></h5>
								<a href="{% url "service_detail3" %}" class="read-more"><i class="lnr-icon-arrow-right"></i></a>
							</div>
						</div>
					</div>
					
					<div class="swiper-slide feature-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image-box">
								<figure class="image"><a href="page-service-details.html"><img src="{% static "images/resource/feature-2.jpg"  %}" alt=""></a></figure>
								<i class="icon"><img src="{% static "images/consultation.png" %}" alt="" srcset=""></i>
							</div>
							<div class="content-box">
								<h5 class="title"><a href="page-service-details.html">Consulting</a></h5>
								<a href="{% url "service_detail6" %}" class="read-more"><i class="lnr-icon-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="swiper-slide feature-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image-box">
								<figure class="image"><a href="page-service-details.html"><img src="{% static "images/resource/feature-2.jpg"  %}" alt=""></a></figure>
								<i class="icon flaticon-satisfaction"></i>

							</div>
							<div class="content-box">
								<h5 class="title"><a href="page-service-details.html">Tax-compliance</a></h5>
								<a href="{% url "service_detail4" %}" class="read-more"><i class="lnr-icon-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="swiper-slide feature-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image-box">
								<figure class="image"><a href="page-service-details.html"><img src="{% static "images/resource/feature-2.jpg"  %}" alt=""></a></figure>
								<i class="icon"><img src="{% static "images/financial-advisor.png" %}" alt="" srcset=""></i>
							</div>
							<div class="content-box">
								<h5 class="title"><a href="page-service-details.html">Winding Up</a></h5>
								<a href="{% url "service_detail5" %}" class="read-more"><i class="lnr-icon-arrow-right"></i></a>
							</div>
						</div>
					</div>
					
				</div>
				
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
			
				<!-- Add Navigation Arrows -->
				<div class="swiper-button-next" style="color: red;"></div>
				<div class="swiper-button-prev" style="color: red;"></div>
			</div>
			
		</div>
	</section>
	<!-- End Features Section -->

	<!-- Features Section -->
	<section class="features-section-home2">
		<div class="bg"></div>
		<div class="auto-container">
			<div class="row align-items-center">
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12">
					<div class="inner-column wow fadeInRight">
						<div class="sec-title">
							<span class="sub-title">Why We are The Best</span>
							<h2 class="text-white text-split">Improving your business</h2>
							<div class="text">Alteration in some form, lipsum is simply free text by injected humou or randomised words even believable</div>
						</div>
						<hr>

						<div class="image-block-home2 mt-50 mb-40">
							<div class="inner-box d-sm-flex align-items-center">
								<div class="image mb-3 mb-sm-0 flex-shrink-0"><img src="{% static "images/resource/feature-4.jpg"  %}" alt="Feature Image"></div>
								<div class="content ml-sm--0 ml-25">
									<h5 class="title">Best business & development agency <span class="color1">1995</span></h5>
								</div>
							</div>
						</div>

						<!--Skills-->
						<div class="skills">
							<!--Skill Item-->
							<div class="skill-item">
								<div class="skill-header">
									<h6 class="skill-title">Consulting</h6>
								</div>
								<div class="skill-bar">
									<div class="bar-inner">
										<div class="bar progress-line" data-width="73">
											<div class="skill-percentage">
												<div class="count-box"><span class="count-text" data-speed="3000" data-stop="73">0</span>%</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Content Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column wow fadeInLeft">
						<div class="image-box">
							<figure class="image"><img src="{% static "images/resource/image-2.jpg"  %}" alt=""></figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Offer Section -->

	<!-- Team Section -->
	<section class="team-section">
		<div class="auto-container">
			<div class="d-block d-lg-flex align-items-center justify-content-between">
				<div class="sec-title mb-5">
					<span class="sub-title">Team Members</span>
					<h2 class="text-split">The amazing team behind <br class="d-none d-lg-block" />our company</h2>
				</div>
				<div class="sec-title btn-box text-lg-end">
					<a href="page-team.html" class="theme-btn btn-style-one">Ream More</a>
				</div>				
			</div>
			<div class="row" style="display: flex; justify-content: center; align-items: center;">
				<!-- Team block -->
				<div class="team-block-two col-lg-4 col-md-6 wow fadeInUp">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><a href="#"><img src="{% static "images/SAHAL-min[1].jpeg"  %}" alt=""></a></figure>
							<div class="social-links">
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="#"><i class="fab fa-facebook-f"></i></a>
								<a href="https://www.instagram.com/aes_business_solutions?igsh=MWE4Mm12azhncTBwdA=="><i class="fab fa-instagram"></i></a>
							</div>
							<span class="share-icon fa fa-plus"></span>
						</div>
						<div class="info-box">
							<h4 class="name"><a href="page-team-details.html">MOHAMMAD SAHAL</a></h4>
							<span class="designation">CEO</span>
						</div>
					</div>
				</div>
			
				<!-- Team block -->
				<div class="team-block-two col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><a href="#"><img src="{% static "images/FAWAS-min[1].jpeg"  %}" alt=""></a></figure>
							<div class="social-links">
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="#"><i class="fab fa-facebook-f"></i></a>
								<a href="https://www.instagram.com/aes_business_solutions?igsh=MWE4Mm12azhncTBwdA=="><i class="fab fa-instagram"></i></a>
							</div>
							<span class="share-icon fa fa-plus"></span>
						</div>
						<div class="info-box">
							<h4 class="name"><a href="page-team-details.html">FAVAZ AHAMED</a></h4>
							<span class="designation">DIRECTOR</span>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<!-- End Team Section -->

	<!-- About Section four -->
	<section class="about-section-four pt-0">
		<div class="auto-container">
			<div class="row">
				<div class="content-column col-lg-6 col-md-12 col-sm-12 order-2 wow fadeInRight" data-wow-delay="600ms">
					<div class="inner-column">
						<div class="sec-title">
							<span class="sub-title">What else here</span>
							<h2 class="text-split">Driving Success Through Team AE</h2>
							<div class="text">In today's fast-paced market, having the right strategy is essential. We provide a range of business solutions tailored to help you thrive, including process automation, strategic consulting, and digital transformation services.</div>
						</div>

						<blockquote class="blockquote-style-one">Our team is dedicated to driving measurable results for your business.</blockquote>.
						<div class="btn-box">
							<a href="{% url "about" %}" class="theme-btn btn-style-one"><span class="btn-title">Discover more</span></a>
						</div>
					</div>
				</div>

				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column wow fadeInLeft">
						<span class="float-text">Team AE</span>
						<figure class="image-1 overlay-anim wow fadeInUp"><img src="{% static "images/resource/about2-3.jpg"  %}" alt=""></figure>
						<figure class="image-2 overlay-anim wow fadeInRight"><img src="{% static "images/resource/about2-4.jpg"  %}" alt=""></figure>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Emd About Section four -->

	<!-- Work Section Two -->
	<section class="work-section-two">
		<div class="row g-0">
			<!-- Content Column -->
			<div class="content-column col-xl-5 col-lg-6 order-2">
				<div class="bg bg-pattern-1"></div>
				<div class="inner-column">
					<div class="text">Accelerating Business Growth with Confidence Innovation for a better Tomorrow</div>
				</div>
			</div>

			<!-- Image Column -->
			<div class="image-column col-xl-7 col-lg-6">
				<figure class="image"><img src="{% static "images/for_web-min[1].jpeg"  %}" alt=""></figure>
				<a href="https://www.youtube.com/watch?v=Fvae8nxzVz4" class="play-now-two lightbox-image"><i class="icon fa fa-play"></i></a>
			</div>
		</div>
	</section>
	<!-- End Features Section -->

	<!-- News Section -->
	<section class="news-section section-space">
		<div class="auto-container">
			<div class="sec-title text-center">
				<span class="sub-title">FROM THE BLOG</span>
				<h2 class="text-split">Read our latest consulting <br /> news & blog</h2>
			</div>

			<div class="row">
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><a href="news-details.html"><img src="{% static "images/resource/news1-1.jpg"  %}" alt=""></a></figure>
						</div>
						<div class="content-box">
							<span class="date">July 7, 2024</span>
							<span class="post-info"><i class="fa fa-user-circle"></i> by Admin</span>
							<h4 class="title"><a href="news-details.html">Business strategy for marketing system</a></h4>
							<div class="text">Your business absolutely needs a updated daily This service is</div>
							<a href="news-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i> Read More</a>
						</div>
					</div>
				</div>

				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><a href="news-details.html"><img src="{% static "images/resource/news1-2.jpg"  %}" alt=""></a></figure>
						</div>
						<div class="content-box">
							<span class="date">July 7, 2024</span>
							<span class="post-info"><i class="fa fa-user-circle"></i> by Admin</span>
							<h4 class="title"><a href="news-details.html">The Advantages of a Digital Supply Strategy</a></h4>
							<div class="text">Your business absolutely needs a updated daily This service is</div>
							<a href="news-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i> Read More</a>
						</div>
					</div>
				</div>

				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><a href="news-details.html"><img src="{% static "images/resource/news1-3.jpg"  %}" alt=""></a></figure>
						</div>
						<div class="content-box">
							<span class="date">July 7, 2024</span>
							<span class="post-info"><i class="fa fa-user-circle"></i> by Admin</span>
							<h4 class="title"><a href="news-details.html">Why is Supply Chain Visibility So Important?</a></h4>
							<div class="text">Your business absolutely needs a updated daily This service is</div>
							<a href="news-details.html" class="read-more"><i class="fa fa-long-arrow-alt-right"></i> Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End News Section -->

	<!-- Call To Action Three -->
	<section class="call-to-action-three">
		<div class="bg-image" style="background-image: url(images/background/8.jpg"  %}")"></div>
		<div class="bg-shape"></div>
		<div class="auto-container">
			<div class="row">
				<div class="title-column col-lg-6 col-md-12">
					<div class="inner-column">
						<div class="sec-title light">
							<h2 class="text-split">Modern business tips <br />for our clients</h2>
						</div>
					</div>
				</div>

				<div class="btn-column col-lg-6 col-md-12">
					<div class="inner-column">
						<a href="{% url "contact" %}" class="theme-btn btn-style-one"><span class="btn-title">Lets Get Started</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Call To Action Three -->

	<!-- Main Footer -->
	
    {% endblock %}