
{% extends "web/base.html" %}
{% load static %}
{% block content %}
	<!-- Start main-content -->
	<section class="page-title" style="background-image: url('{% static "images/background/page-title.jpg" %}');">
		<div class="auto-container">
			<div class="title-outer text-center">
				<h1 class="title">Services</h1>
				<ul class="page-breadcrumb">
					<li><a href="{% url "index" %}">Home</a></li>
					<li>Services</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->

  <!-- Services Section -->
	<section class="services-section-two pb-90">
		<div class="auto-container">
			<div class="row">
				<!-- Service Block -->
				<div class="service-block-two col-lg-3 col-md-6 wow fadeInUp">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><img src="{% static "images/resource/service3-1.jpg"%}" alt=""></figure>
						</div>
						<div class="content-box">
							<i class="icon flaticon-oldkare-house"></i>
							<h5 class="title">Incorporation</h5>
						</div>
						<div class="hover-content">
							<i class="icon flaticon-oldkare-house"></i>
							<h5 class="title"><a href="page-service-details.html">Incorporation</a></h5>
							<div class="text"><li>Company Incorporation</li>
								<li>LLP Registration</li>
								<li>Partnership Registration/li>
								<li>AOP/BOI Registration</li>
								<li>Trust</li>
								
							</div>
						</div>
					</div>
				</div>
				<!-- Service Block -->
				<div class="service-block-two col-lg-3 col-md-6 wow fadeInUp">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><img src="{% static "images/resource/service3-2.jpg" %}" alt=""></figure>
						</div>
						<div class="content-box">
							<i class="icon flaticon-oldkare-optometry"></i>
							<h5 class="title">Audis</h5>
						</div>
						<div class="hover-content">
							<i class="icon flaticon-oldkare-optometry"></i>
							<h5 class="title"><a href="service-details-2.html">Audis</a></h5>
							<div class="text"><li>insternal Audits</li>
								<li>Statutory Audits</li><li>secretaroal Audits</li>
							</div>
						</div>
					</div>
				</div>
				<!-- Service Block -->
				<div class="service-block-two col-lg-3 col-md-6 wow fadeInUp">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><img src="{% static "images/resource/service3-3.jpg" %}" alt=""></figure>
						</div>
						<div class="content-box">
							<i class="icon flaticon-oldkare-playing-cards"></i>
							<h5 class="title">Trademark Registration
							</h5>
						</div>
						<div class="hover-content">
							<i class="icon flaticon-oldkare-playing-cards"></i>
							<h5 class="title"><a href="service-details-3.html">Trademark <br>Registration</a></h5>
							<div class="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Service Block -->
				<div class="service-block-two col-lg-3 col-md-6 wow fadeInUp">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><img src="{% static "images/resource/service3-4.jpg" %}"alt=""></figure>
						</div>
						<div class="content-box">
							<i class="icon flaticon-oldkare-park"></i>
							<h5 class="title">Tax-Compliance</h5>
						</div>
						<div class="hover-content">
							<i class="icon flaticon-oldkare-park"></i>
							<h5 class="title"><a href="service-details-4.html">Taxation
								<br/>Compliance</a></h5>
							<div class="text"><li>GST</li>
								<li>Income Tax</li>
							</div>
						</div>
					</div>
				</div>
				<!-- Service Block -->
				<div class="service-block-two col-lg-3 col-md-6 wow fadeInUp">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><img src="{% static "images/resource/service3-2.jpg" %}" alt=""></figure>
						</div>
						<div class="content-box">
							<i class="icon flaticon-oldkare-optometry"></i>
							<h5 class="title">Winding up</h5>
						</div>
						<div class="hover-content">
							<i class="icon flaticon-oldkare-optometry"></i>
							<h5 class="title"><a href="service-details-5.html">Winding up</a></h5>
							<div class="text"><li>Merger and De Merger</li>
								<li>Liquidation</li>
							</div>
						</div>
					</div>
				</div>
				<!-- Service Block -->
				<div class="service-block-two col-lg-3 col-md-6 wow fadeInUp">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><img src="{% static "images/resource/service3-3.jpg" %}" alt=""></figure>
						</div>
						<div class="content-box">
							<i class="icon flaticon-oldkare-playing-cards"></i>
							<h5 class="title">Consulting</h5>
						</div>
						<div class="hover-content">
							<i class="icon flaticon-oldkare-playing-cards"></i>
							<h5 class="title"><a href="service-details-6.html">Consulting</a></h5>
							<div class="text"><li>Tax consulting</li>
								<li>Finance Consulting</li>
								<li>Strategic Consulting</li>
								<li>SOP Consulting</li>
								<li>DPR Consulting</li>

							</div>
						</div>
					</div>
				</div>
				<!-- Service Block -->
				
			</div>
		</div>
	</section>
  <!-- End blog-section -->
  {% endblock %}